<h2>Common configuration settings</h2>

<div>
    This page is for define configurations for Terrier and Solr/Lucene.
</div>


<div class="propertyBox">

    <div class="property">
        <label for="selectedCommonIndexer">Tokenizer: </label>
        <select id="selectedCommonIndexer" name="commonTokenizer" ng-model="selectedCommonIndexer"
                ng-options="indexer for indexer in commonConfig.getIndexer()">
        </select>
    </div>

    <div class="property">
        <label for="selectedWeightingModel">Weighting models: </label>
        <select id="selectedWeightingModel" name="commonWeightingModel" ng-model="selectedWeightingModel"
                ng-options="weightingModel for weightingModel in commonConfig.getWeightingModels()">
        </select>

        <div ng-if="selectedWeightingModel == 'BM25'">
            <div class="property">
                <label for="weightK1">k1: </label>
                <input id="weightK1" ng-model="weightK1" value="2" type="text" />
            </div>
        </div>

        <div ng-if="selectedWeightingModel == 'tf-idf' || selectedWeightingModel == 'BM25'">
            <div class="property">
                <label for="weightB">b: </label>
                <input id="weightB" ng-model="weightB" value="2" type="text" />
            </div>
        </div>
    </div>

    <div class="property">
        <label for="commonStopWordsEnabled">Stop-words: </label>
        <input id="commonStopWordsEnabled" name="commonStopWords" type="checkbox" ng-model="commonStopWordsEnabled">
    </div>

    <div class="property">
        <label for="selectedCommonStemmer">Stemmer: </label>
        <select id="selectedCommonStemmer" name="commonStemmer" ng-model="selectedCommonStemmer"
                ng-options="stemmer for stemmer in commonConfig.getStemmer()">
        </select>
        <div ng-if="selectedCommonStemmer != '' ">
            <label for="selectedCommonStemmerLang">Language: </label>
            <select id="selectedCommonStemmerLang" name="selectedCommonStemmerLang"
                    ng-model="selectedCommonStemmerLang"
                    ng-options="language for language in commonConfig.getSelectedCommonStemmerLang()" >
            </select>
        </div>

    </div>

    <div class="property">
        <label for="selectedCommonNormalizer">Normalizer: </label>
        <select id="selectedCommonNormalizer" name="commonNormalizer" ng-model="selectedCommonNormalizer"
                ng-options="normalizer for normalizer in commonConfig.getNormalizer()">
        </select>
    </div>

    <div class="property">
        <label for="commonQueryExpansionEnabled">Query Expansion: </label>
        <input id="commonQueryExpansionEnabled" name="commonQueryExp" type="checkbox" ng-model="commonQueryExpansionEnabled" />
    </div>

    <div class="property">
        <label for="selectedCommonQueryOperator">Query operator for expressions: </label>
        <select id="selectedCommonQueryOperator" name="commonQueryExpr" ng-model="selectedCommonQueryOperator"
                ng-options="queryOperator for queryOperator in commonConfig.getOperators()">
        </select>
    </div>

    <div class="property">
        <label for="commonSplitOnWhiteSpace">Split on whitespace: </label>
        <input id="commonSplitOnWhiteSpace" name="commonQueryExp" type="checkbox" ng-model="commonSplitOnWhiteSpace">
    </div>


</div>

<button type="submit" class="btn btn-primary"
        ng-click="settingsForm.saveCommonConfiguration()">
    save
</button>

<div class="saveButton">
    <button id="opener" type="submit" class="btn btn-primary" onclick="openDialog()">save as</button>

</div>

<div id="dialogg" title="Save config file">
    <p>Type in a convenient name for the settings file and add a description.</p>
    <label for="commonConfigName">File: </label>
    <input id="commonConfigName" ng-model="commonConfigName" class="myInput" type="text" /> <br/><br/>
    <label for="commonConfigDescription">Description: </label>
    <textarea id="commonConfigDescription" ng-model="commonConfigDescription" rows="4" cols="42" type="text" />
    <div class="dialogButton">

        <button type="submit" class="btn btn-primary"
                ng-click="settingsForm.saveCommonConfiguration()">
            save
        </button>
    </div>
</div>



<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
<script type="text/javascript">
    $(document).ready(function() {

//        if ($("#configFileList li").length == 2) {
//            $("#configFileList").hide();
//            $(".configDescription").hide();
//            $(".configButton").hide();
//            $(".configFileMsg").append("No configuration files are found. Please check if the server is running.");
////            $(".configFileMsg").visible();
//        }
    });
</script>

<script src="js/main.js"></script>