<!DOCTYPE html>
<!--[if gt IE 8]><!-->
<html ng-app="mainModule" class="no-js"> <!--<![endif]-->
<!--[if lt IE 7]>
<html ng-app="mainModule" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html ng-app="mainModule" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html ng-app="mainModule" class="no-js lt-ie9"> <![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/jquery-ui.css">

    <script type="text/javascript" src="js/vendor/modernizr-2.6.2.min.js"></script>
    <script type="text/javascript" src="js/angular/jquery.js"></script>
    <script type="text/javascript" src="js/vendor/jquery.bridget.js"></script>
    <script type="text/javascript" src="js/vendor/jquery-ui.min.js"></script>
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>-->

    <script type="text/javascript" src="js/angular/angular.js"></script>
    <script type="text/javascript" src="js/angular/angular-resource.js"></script>
    <script type="text/javascript" src="js/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <script type="text/javascript" src="js/angular/angular-loadscript.js"></script>
    <script type="text/javascript" src="http://fgnass.github.io/spin.js/spin.min.js"></script>
    <script type="text/javascript" src="js/ng-file-upload/ng-file-upload.js"></script>
    <script type="text/javascript" src="js/angular/angular-spinner.js"></script>
    <!-- angular-file-upload (must be added before x13.js -->
    <script type="text/javascript" src="js/dist/angular-file-upload.min.js"></script>

    <script type="text/javascript" src="js/angular/main.js"></script>


    <script type="text/javascript" src="js/angular/commonConfig.js"></script>
    <script type="text/javascript" src="js/angular/x13.js"></script>

    <script type="text/javascript" src="js/ace-builds/src-min-noconflict/ace.js"></script>
    <script type="text/javascript" src="js/angular-ui-ace/ui-ace.js"></script>


<body class="container" ng-controller="SearchController as searchCtrl">

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->


<div class="headerContainer"  >
    <form>
        <!--<input class="input-sm searchInp" ng-model="searchForm.searchTerm" placeholder="search..." title="search"/>-->
        <!--<button class="btn btn-primary" ng-click="searchForm.searchAll()">Submit Request</button>-->

        <!--<input ng-model="selectedSearchHandler" type="text" list="handlerClass" />-->
        <!--<datalist id=handlerClass >-->
        <!--<select id="dummy">-->
        <!--<option ng-repeat="ttl in searchHandlerNames track by $index" value="{{ttl}}"></option>-->
        <!--</select>-->
        <!--<!--<select id="_select" name="_select" ng-model='selectedSearchHandler' ng-options='ttl in searchHandlerNames'></select>-->
        <!--</datalist>-->
        <img src="img/tuwien.gif" alt="TU Wien" width="75" height="75"/>
        <div class="mainTitle">Search engine customization user interface</div>

    </form>
</div>


<div class="contentContainer">

    <div class="menuePanel">

        <div class="list-group">
            <!--<h4 class="list-group-item-heading">-->
            <!--Settings-->
            <!--</h4>-->
            <br/><br/>

            <details>
                <summary>Setting</summary>
                <ul>
                    <li class="item" ng-repeat="tmp in templates">
                        <a ng-click="searchCtrl.selectSearchEngine(tmp.page)" ng-href="#">{{tmp.name}}</a>
                    </li>
                </ul>
            </details>

            <details>
                <summary>Test</summary>
                <ul>
                    <li>
                        <a ng-click="searchCtrl.selectPage('testRun.html')" ng-href="#">Run tests</a>
                    </li>
                </ul>
            </details>

            <details>
                <summary>Data sets</summary>
                <ul>
                    <li>
                        <a ng-click="searchCtrl.selectPage('importData.html')" ng-href="#">Import data</a>
                    </li>
                    <li>
                        <a ng-click="searchCtrl.selectPage('defineDataSet.html')" ng-href="#">Define new composition</a>
                    </li>
                </ul>
            </details>
        </div>

    </div>


    <div class="contentPanel" >
        <br/>

        <form >

            <div ng-include="selectedPage">

            </div>

        </form>


    </div>

</div>


<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
<script src="js/plugins.js"></script>


<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script type="text/javascript">
    (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] =
                function () {
                    (b[l].q = b[l].q || []).push(arguments)
                });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = '//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');

</script>

</body>
</html>
